* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 50px;
}

#img {
    background-color: #a859b8;
    padding: 20px;
}

img {
    margin: 0 auto;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 60px;
    font-size: 15px;
}

#Contact-section {
    text-align: center;
}

@media all and (min-width: 800px) {
    main {
        font-size: 25px;
        margin: 0 200px;
    }
}